<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <nav>
      <%= link_to 'Dashboard', admin_dashboard_path %> |
      <%= link_to 'Users', admin_users_path %> |
      <%= link_to 'Super Admins', admin_super_admins_path %> |
      <%= link_to 'Home', root_path %>
    </nav>
    <main>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html> 